.note-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.group-header {
  background: rgba(232, 232, 232, 1);
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.notes-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  max-height: 56%;
}

.note-input-container {
  border-top: 1px solid #ddd;
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.note-input-container textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  max-height: 100px;
  min-height: 100px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  flex: 1; /* Allow textarea to take available space */
}

.add-note-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.add-note-btn img {
  width: 24px;
  height: 24px;
}

.add-note-btn:disabled {
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

ul li small {
  display: block;
  color: #888;
}
