.note-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.group-header {
  background: rgba(232, 232, 232, 1);
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.notes-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.note-input-container {
  border-top: 1px solid #ddd;
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.note-input-container textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  max-height: 100px;
  min-height: 100px;
  max-width: 974px;
  min-width: 100%;
  width: 100%;
  resize: none; /* Prevent resizing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Ensure textarea resizes appropriately */
@media (max-width: 974px) {
  .note-input-container textarea {
    width: 100%;
  }
}

.group-name {
  font-size: 24px;
}

.add-note-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
}

.add-note-btn.inactive {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-note-btn.active:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

ul li small {
  display: block;
  color: #888;
}
