/* General layout */
.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.sidebar {
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 0;
  padding: 50px 15px 15px 20px;
  text-align: center;
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
}

.group-list {
  overflow-y: auto;
  margin-top: 20px;
}

.group-list div {
  cursor: pointer;
  padding: 10px 27px;
  margin: 5px 0;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 24px; 
  font-weight: 500; 
  display: flex;
  align-items: center;
}

.group-list div:hover {
  background-color: #e9ecef;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  background-color: rgba(218, 229, 245, 1);
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  margin-bottom: 300px;
  padding: 30px 190px 0 190px;
}

.placeholder h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.placeholder img {
  width: 626px;
  margin-bottom: 20px;
}

.placeholder-text {
  font-size: 22px;
  font-weight: 500;
}

.encryption-text {
  position: absolute;
  bottom: 26vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.create-new-grp-btn {
  width: 50px;
  height: 50px;
  font-size: 70px;
  position: sticky;
  bottom: 20px;
  right: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 0, 139, 1);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}

.create-new-grp-btn:hover {
  background-color: #0056b3;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Group symbol styles */
.group-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68.9px; /* Increased width */
  height: 68.9px; /* Increased height */
  border-radius: 50%;
  margin-right: 10px;
  font-weight: 500;
  font-size: 24px;
  color: white;
}

/* Custom scrollbar styles */
.sidebar-content::-webkit-scrollbar,
.notes-container::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content::-webkit-scrollbar-thumb,
.notes-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover,
.notes-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 1);
}

.sidebar-content::-webkit-scrollbar-track,
.notes-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.63);
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
  }

  .sidebar {
    width: 100%;
  }

  .main-content {
    display: none; /* Hide the placeholder content for mobile */
  }

  .main-content.active {
    display: flex; /* Show the note list for mobile */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(218, 229, 245, 1);
  }
}
