.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.sidebar {
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 0;
  text-align: center;
  padding-top: 30px;
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
}

.create-new-grp-btn {
  width: 50px;
  height: 50px;
  font-size: 27px;
  position: sticky;
  bottom: 20px;
  right: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
  z-index: 1;
}

.create-new-grp-btn:hover {
  background-color: #0056b3;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Custom scrollbar styles */
.sidebar-content::-webkit-scrollbar,
.notes-container::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content::-webkit-scrollbar-thumb,
.notes-container::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover,
.notes-container::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.sidebar-content::-webkit-scrollbar-track,
.notes-container::-webkit-scrollbar-track {
  background: #f4f4f4;
}
